/*font
	font-family: 'Gloock', serif;
	font-family: 'Quicksand', sans-serif; */


* {
	font-family: 'Gloock', serif;;
}



#bg-image{
	background-image:url(../img/bg.png) ;
	 background-size: cover;
	 background-repeat: no-repeat;
	 
}

.aaa {
	color: #3C2317;
	background-color: rgba(201, 169, 166, 0.5);
}