/*font
	font-family: 'Cookie', cursive;
	font-family: 'Gloock', serif;
	font-family: 'Quicksand', sans-serif;*/


* {
	
	font-family: 'Gloock', serif;
}


h1 {
	text-align: center;
	font-family: 'Cookie', cursive;
	color:#94545;
	font-size: 250px;
	;
}

